.header {
    padding: 10px;
    height: fit-content;
    border: 1px solid black;
    background-color: white;

    justify-items: center;
    align-items: baseline;
}

.stickyHeader {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.headerList {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1%;
}

.headerPanel {
    display: flex;
    flex-wrap: wrap;
}