.header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 1%;

    padding: 10px;
    height: 15vh;
    border: 1px solid black;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    justify-items: center;
    align-items: baseline;
}