.app-wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .app-wrapper {
        margin: 0 auto;
        width: 960px;
    }
}