.plate,
.greenPlate,
.goldPlate,
.redPlate {
    margin: 10px;
    padding: 15px 20px;
    min-width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}

.plate:not(.clickedPlate):not(.disabledPlate):hover {
    margin: 10px;
    padding: 14px 19px;
    cursor: pointer;
    border: 2px solid black;
    background-color: gainsboro;
}

.greenPlate:not(.clickedPlate):not(.disabledPlate):hover {
    border: 3px solid forestgreen;
    background-color: greenyellow;
}

.goldPlate:not(.clickedPlate):not(.disabledPlate):hover {
    border: 3px solid darkorange;
    background-color: yellow;
}

.redPlate:not(.clickedPlate):not(.disabledPlate):hover {
    border: 3px solid orangered;
    background-color: lightsalmon;
}

.greenPlate:not(.clickedPlate):not(.disabledPlate):hover,
.goldPlate:not(.clickedPlate):not(.disabledPlate):hover,
.redPlate:not(.clickedPlate):not(.disabledPlate):hover {
    margin: 10px;
    padding: 13px 18px;
    cursor: pointer;
}

.clickedPlate,
.toggledPlate {
    border: 5px solid blue;
    background-color: deepskyblue;
    font-weight: 500;
    text-decoration: underline;
}

.greenTheme {
    border: 5px solid green;
    background-color: palegreen;
}

.goldTheme {
    border: 5px solid coral;
    background-color: gold;
}

.redTheme {
    border: 5px solid firebrick;
    background-color: tomato;
}

.clickedPlate,
.toggledPlate,
.greenTheme,
.goldTheme,
.redTheme {
    margin: 8px;
    padding: 13px 18px;
}

.disabledPlate {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Mobile Styles */
@media only screen and (max-width: 426px) {
    .plate,
    .greenPlate,
    .goldPlate,
    .redPlate {
        margin: 5px;
        padding: 10px;
    }

    .plate:not(.clickedPlate):not(.disabledPlate):hover {
        margin: 5px;
        padding: 9px;
    }

    .greenPlate:not(.clickedPlate):not(.disabledPlate):hover,
    .goldPlate:not(.clickedPlate):not(.disabledPlate):hover,
    .redPlate:not(.clickedPlate):not(.disabledPlate):hover {
        margin: 5px;
        padding: 8px;
    }

    .clickedPlate,
    .toggledPlate,
    .greenTheme,
    .goldTheme,
    .redTheme {
        margin: 3px;
        padding: 8px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 426px) and (max-width: 620px) {
    .plate,
    .greenPlate,
    .goldPlate,
    .redPlate,
    .plate:not(.clickedPlate):not(.disabledPlate):hover,
    .greenPlate:not(.clickedPlate):not(.disabledPlate):hover,
    .goldPlate:not(.clickedPlate):not(.disabledPlate):hover,
    .redPlate:not(.clickedPlate):not(.disabledPlate):hover {
        margin: 5px;
    }

    .clickedPlate,
    .toggledPlate,
    .greenTheme,
    .goldTheme,
    .redTheme {
        margin: 3px;
    }
}
@media only screen and (min-width: 621px) and (max-width: 960px) {
    .plate,
    .greenPlate,
    .goldPlate,
    .redPlate,
    .plate:not(.clickedPlate):not(.disabledPlate):hover,
    .greenPlate:not(.clickedPlate):not(.disabledPlate):hover,
    .goldPlate:not(.clickedPlate):not(.disabledPlate):hover,
    .redPlate:not(.clickedPlate):not(.disabledPlate):hover {
        margin: 5px 10px;
    }

    .clickedPlate,
    .toggledPlate,
    .greenTheme,
    .goldTheme,
    .redTheme {
        margin: 3px 8px;
    }
}